.inner{
    width: 980px;
    height: 110px;
    margin-top: 8px;
    box-shadow: 0 1px 10px 0 #cccccc;
}
.aa1{
	width: 950px;
	margin: 20px auto;
	height: 110px;
	background: url(../images/wenxin.png) no-repeat 60px 30px;
	}
.aa1 h1{
	position: relative;
    top: 50px;
    left: 180px;
        font-size: 14px;
    font-family:"微软雅黑";
    color: #989898;
}
.aa2{
	width: 950px;
	margin: 20px auto;
	border-bottom:1px solid #CCCCCC;
	height: 150px;
}
.aa2 h4{
	position: relative;
    top: 20px;
    left: 355px;
    width: 330px;
    font-size: 16px;
    font-weight: bold;
    font: "微软雅黑";
}
.aa2 button{
	margin-top: 70px;
    margin-left: 110px;
    background: #38d46c;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
   cursor: pointer;
}

#bb1{
	margin-top: 23px;
    margin-left: 10px;
    font-size: 14px;
}
#bb1 span{
	font-size: 35px;
	color: red;
	margin-left: 5px;
	letter-spacing: 3px;
	font-weight: bold;
	font-family: “Microsoft YaHei” ;
}
.content_zj{
	width: 980px;
    height: 600px;
    margin-top: 20px;
    box-shadow: 0 1px 10px 0 #cccccc;
}
.tab_show li{
	float: left;
}
.tb{
	width: 980px;
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    height: 40px
}
.tb ul li a{
	color: #666666;
	display: block;
}
.tb ul li a:hover{
	text-decoration: none;
	color: #666666;
}
.tb ul li a:focus{
	text-decoration: none;
	color: #666666;
}
.list{
	font-weight: bold;
	border-bottom: 3px solid #09CEB2;
	color: #03a0a6 !important;
	height: 40px;
}
.list>a{
	color: #03a0a6 !important;
}
.aa3{
	height: 50px;
    width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid #DDDDDD;
}
.title1{
	width: 500px;
    height: 100px;
    text-align: center;
    margin: 40px auto;
}
.title1 a{
	font-weight: bold;
    font-size: 18px;
}
.list1{
	color: #00CC99;
	font-size: 16px;
	background: url(../images/xiahuaxian.png) no-repeat 57px 25px;
    background-size: 210px;
    height: 40px;
}
.zffs ul{
	text-align: center;
	width: 33%;
	margin-top: -100px;
}
.zffs ul li input{
	    position: relative;
    top: -17px;
    left: -10px;
}
.zffs ul li{
	    margin-top: 5px;
}
.zffs button{
	width: 100px;
    height: 35px;
    background: #38d46c;
    margin-top: 10px;
    margin-left: 440px;
   border-radius: 5px;
   cursor: pointer;
}
.title2{
	background: -moz-linear-gradient(#73EBBA,#05CDBA);
	background: -o-linear-gradient(#73EBBA,#05CDBA);
	background: -moz-linear-gradient(#73EBBA,#05CDBA); 
	background: linear-gradient(#73EBBA,#05CDBA);
	height: 50px;
}
.table table{
	width: 960px;
    margin: 10px auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
.title2 th{
	text-align: center;
	color: white;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #026d9c;
}
.table tr td{
	text-align: center;
	height: 50px;
}
.td1{
	background: #e3e3e3;
	color: #666666;
}
.td2{
	background: #ebebeb;
	color: #666666;
}
.td3{
	background: #e3e3e3;
	color: red;
}
.td4{
	background: #ebebeb;
	color: red;
}
.td5{
	background: #FFFFFF;
	color: #666666;
}
.td6{
	background: #f6f6f6;
	color: red;
}
.td7{
	background: #FFFFFF;
	color: red;
}
.td8{
	background: #f6f6f6;
	color: #666666;
	
}
#bb2{
	float: right;
	margin-top:-60px;
    margin-left: 10px;
    font-size: 14px;

}
#bb2 span{
	font-size: 35px;
	color: red;
	margin-left: 5px;
	letter-spacing: 3px;
	font-weight: bold;
}
.tixian{
	width: 900px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	border-bottom: 2px solid #eeeeee;
}
.tixian ul li{
	float: left;
	width: 20%;
	font-size: 16px;
	text-align: center;
	color: #666666;
}
.tixian ul li a{
	color: #666666;
	display: block;
}
.tixian ul li a:hover{
	text-decoration: none;
	color: #666666;
}
.tixian ul li a:focus{
	text-decoration: none;
	color: #666666;
}
.ss ul li{
	float: left;
	margin-top: 27px;
	margin-bottom: 13px;
	color: #666666;
	line-height: 30px;
}
.input1{
	border:1px solid #cccccc;
}
.ss ul li input{
	margin-left: 5px;
	width: 70px;
	height: 30px;
	background: #ebebeb;
	color: #333333;
}
.ss ul li select{
	background: #ebebeb;
	width: 60px;
	height: 30px;
	margin-left: 5px;
	color: #333333;
	padding-bottom: 5px;
	padding-top: 4px;
}
.input2{
	border: 1px solid #cccccc;
	height: 30px;
	width: 45px;
	color: #333333;
}
.list2{
	
	height: 35px;
    width: 90px;
    background: url(../images/xiahuaxian2.png)no-repeat 50px 28px;
    color: #03a0a6 !important;
    border-bottom: 2px solid #03a0a6;
}
.list2>a{
	
	color: #03a0a6 !important;
	font-weight: bold;
}
.aa4{
	float: left;
	width: 615px;
	    margin-top: 40px;
    margin-right: 100px;
}
.aa4 ul li{
	float: right;
	height: 40px;
	color: #666666;
}
.input3{
	width: 300px;
	height: 30px;
	border: 1px solid #dddddd;
	background: #f4f4f4;
	border-radius: 4px;
	margin-left: 16px;
}
.input3:focus,.input4:focus{
	background: #ffffff;
}
.button1{
	border: 1px solid #dddddd;
	background: #f4f4f4;
	border-radius: 4px;
	width: 300px;
	height: 30px;
	margin-left: 16px;
}
.input4{
	width: 185px;
	height: 30px;
	border: 1px solid #dddddd;
	background: #f4f4f4;
	border-radius: 4px;
	margin-left: 16px;
}
.button2{
	margin-left: 16px;
	background: #29d282;
	border-radius: 4px;
	width: 100px;
	height: 30px;
	color: #fefefe;
}
.aa4 ul span{
	position: relative;
    top: 245px;
    left: 515px;	
    color: red;
    font-size: 12px;
}
.button3{
	height: 42px;
	width: 160px;
	background:#38d46c;
	border-radius: 4px;
	margin-top: 345px;
    margin-left: -280px;
    color: #ffffff;
    font-size: 16px;
}
.aa5{
	height: 150px;
	width: 900px;
	margin: 0 auto;
}
.aa5 ul li{
	height: 70px;
	font-size: 14px;
	color: #666666;
	padding-left: 30px;
}
.list3{
	    margin-top: 35px;
	width: 320px;
	background: url(../images/zhengque.png)no-repeat 25px 3px;
	padding-left: 70px !important;
    color: #32c50a !important;
    font-size: 24px !important;
}
.aa5 ul li span{
	color: red;
	font-weight: bold;
	margin-left: 3px;
	margin-right: 3px;
	
}
.aa6{
	height: 360px;
	padding: 20px 10px;
}
.title3{
	background: -moz-linear-gradient(#73EBBA,#05CDBA);
	background: -o-linear-gradient(#73EBBA,#05CDBA);
	background: -moz-linear-gradient(#73EBBA,#05CDBA); 
	background: linear-gradient(#73EBBA,#05CDBA);
	height: 50px;
	border-bottom: 2px solid #026d9c;
}
.aa6 table{
	text-align: center;
	width: 960px;
	height: 330px;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
.title3 th{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}
.ss ul li span{
	
}
.list3 img{
	margin-left: -45px;
    margin-top: -2px;
}
