.inner{
    width: 980px;
    margin-top: 8px;
    box-shadow: 0 2px 5px 0 #cccccc;
}
.porder_box{
    width: 959px;
    margin: 0 auto;
    padding: 8px 0;
}
.polist{
    width: 957px;
    border: 1px solid #d3d3d3;
}
.polist{
    margin-top: 8px;
}
.pltop{
    width: 957px;
    height: 49px;
    background: #eafef6;
    border-bottom: 1px solid #d3d3d3;
}
.pltop ul{
    height: 49px;
}
.pltop ul li{
    height: 49px;
    vertical-align: middle;
    float: left;
}
.plli1{
    padding: 0 15px;
    width: 210px;
}
.plli11{
    padding: 0 15px;
    width: 210px;
}
.plli11 a{
    line-height: 49px;
}
.plth1{
    padding: 0 20px;
    width: 225px;
}
.plth1 p{
    font-family: "微软雅黑", sans-serif;
    font-size: 14px;
    line-height: 49px;
    color: #333333;
}
.plli2{
    padding: 0 24px;
    width: 210px;
}
.plth2{
    width: 380px;
}
.plth2 p{
    font-size: 14px;
    color: #666666;
    line-height: 49px;
    font-family: "微软雅黑", sans-serif;
}
.plli3{
    padding: 0 10px;
    width: 165px;
}
.plli4{
    width: 245px;
}
.plli5{
    width: 180px;
    padding: 0 0 0 86px;
}
.plth3{
    width: 310px;
}
.plth3 p{
    font-size: 14px;
    color: #ee1010;
    line-height: 49px;
    font-family: "微软雅黑", sans-serif;
}
.plcenter{
    width: 957px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.plcenter ul{
    padding: 10px 0 10px 0;
}
.plcenter ul:first-child{
    padding: 22px 0 10px 0;
}
.plcenter ul li a{
    display: block;
    font-size: 14px;
    color: #3333cc;
}
.mt10{
    margin-top: 10px;
}
.plcenter ul li{
    float: left;
}
.plcenter ul li h3{
    color: #666666;
    font-size: 14px;
    font-family: "微软雅黑", sans-serif;
    font-weight: 100;
    line-height: 20px;
}
.plcenter ul li h3 .tlis{
    display: block;
    width: 62px;
    float: left;
    text-align: justify;
    text-align-last:justify;
    text-justify: inter-ideograph;
}
.plcenter ul li h3.plh31{
    color: #999999;
    font-size: 14px;
}
.plcenter ul li h3 .cred{
    font-size: 14px;
    color: #e81c1c;
}
.plcenter ul li h3 .cred12{
    font-size: 14px;
    color: #e81c1c;
}
.state{
    padding: 7px 0 0 0;
    font-size: 14px;
    color: #666666;
    float: right;
    line-height: 25px;
}
.state .cred{
    font-size: 14px;
    color: #e81c1c;
}
.mstate{
    padding: 7px 0 0 0;
    font-size: 12px;
    color: #666666;
    float: right;
    line-height: 48px;
}
.state div{
    text-align: center;
}
.plfooter{
    height: 49px;
    padding: 3px 0 3px 15px;
}
.ftzs{
    font-size: 13px;
    color: #f25151;
    line-height: 49px;
    padding-right: 15px;
}
.plfooter ul{
    padding-top: 3px;
}
.plfooter ul li p{
    font-size: 12px;
    color: #666666;
    line-height: 14px;
}
.ftinfo{
    width: 216px;
    font-size: 12px;
    color: #666666;
    line-height: 49px;
}
.cg14{
    font-size: 14px;
    color: #09ceb2;
}
.fs14{
    font-size: 14px;
}
.ftinfo input{
    display: block;
    float: right;
    width: 60px;
    height: 18px;
    background: #0fcfa9;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2px;
    margin: 16px 20px 0 0;
    cursor: pointer;
    border: 1px solid #cbcbcb;
}
.pages{
    font-size: 14px;
    color: #666666;
    margin: 30px 0 100px 0;
    padding: 0 0 0 200px;
}
.pages .num{
    color: #03a0a6;
}
.pages .pages-inf{
    margin: 0 0 0 60px;
}
.pages .pages-inf span{
    margin: 0 0 0 10px;
    cursor: pointer;
}
.aly_box{
    width: 610px;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.aly_box ul{}
.aly_box ul li{
    height: 30px;
    line-height: 30px;
    margin-top: 24px;
}
.aly_box ul li input{
    border: 1px solid #f4f4f4      ;
}
.aly_box ul li span{
    padding: 0 12px 0 0;
    font-size: 14px;
    color: #666666;
}
.aly_box ul li .aly_ltl{
    display: block;
    width: 80px;
    text-align: justify;
    text-align-last:justify;
    text-justify: inter-ideograph;
    padding: 0 12px 0 0;
    font-size: 14px;
    color: #666666;
}
.aly_box ul li input{
    display: block;
    float: left;
    width: 292px;
    height: 28px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 0 0 0 6px;
    background: #f4f4f4;
    outline: none;
    color: #999999;
}
.aly_box ul li input:focus{
    background: #FFFFFF;
}
.aly_box ul li input.roy:focus{
    background: #f4f4f4;
}
.aly_box ul li.lastli{
    height: 236px;
}
.aly_box ul li.lastli textarea{
    display: block;
    width: 595px;
    height: 200px;
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    resize: none;
    background: #f4f4f4;
    color: #999999;
    font-size: 14px;
    outline: none;
}
.aly_box ul li.lastli textarea:focus{
    background: #FFFFFF;
}
.aly_box ul li.notes{
    height: 68px;
    line-height: 17px;
    margin: 6px 0;
}
.aly_box ul li.notes p{
    font-size: 12px;
    color: #ef7272;
    padding: 0 0 0 92px;
}
.aly_box ul li.btns{
    height: 40px;
    padding: 0 0 30px 0;
}
.aly_box ul li.btns input{
    width: 160px;
    height: 40px;
    border-radius: 2px;
    border: none;
    background: #38d46c;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

/*实名认证*/
.rname_box{
    width: 939px;
    margin: 0 auto;
    padding: 30px 7px 20px 8px;
    border-bottom: 1px solid #dddddd;
}
.rbt_img{
    width: 65px;
    height: 65px;
    padding: 3px 0 0 0;
}
.rbt_text{
    width: 800px;
    height: 65px;
    font-size: 14px;
    color: #666666;
    text-align: justify;
    text-justify: inter-ideograph;
    line-height: 22px;
}
.rnet{
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.rne_btns{
    width: 370px;
    height: 42px;
    margin: 0 auto;
    padding: 0 0 200px 0;
}
.rne_btns a{
    display: block;
    width: 160px;
    height: 42px;
    background: #38d46c;
    border-radius: 2px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #FFFFFF;
}
.rnest{
    width: 515px;
    margin:30px 80px;
    padding: 0 0 0 40px;
    font-size: 24px;
    font-weight: bold;
    color: #32c50a;
    background: url("../../../static/NewDocuments/images/adopt.png")no-repeat;
}
.rne_sus{
    padding: 0 0 0 80px;
}
.rne_sus ul li{
    font-size: 14px;
    color: #333333;
    line-height: 40px;
}
.rne_img{
    width: 251px;
    height: 76px;
    margin: 0 auto;
    padding: 30px 0;
}